<div class="container">
  <ng-container *ngIf="station | async as s; else loading">
    <ng-container *ngIf="selectedLineId; else lineNotSelected">
      <div class="content" *ngIf="boundStation; else boundNotSelected">
        <header class="header" [ngStyle]="headerStyle">
          <div class="headerTop">
            <p class="headerBoundStationName">
              {{
                isLoopLine
                  ? currentLine.name + ' ' + ringBoundDirection
                  : boundStation.name + ' 方面'
              }}
            </p>
          </div>
          <div
            class="headerBottom"
            [@content]
            *ngIf="headerContent === 'CURRENT_STATION'"
          >
            <p class="headerUnit">ただいま</p>
            <p
              class="headerStationName"
              [@content]
              [ngStyle]="headerStationNameStyle(s.name)"
            >
              {{ s.name }}
            </p>
          </div>
          <div
            class="headerBottom"
            [@content]
            *ngIf="headerContent === 'NEXT_STOP' && formedStations[1]"
          >
            <p class="headerUnit">{{ nextText }}</p>
            <p
              class="headerStationName"
              [ngStyle]="headerStationNameStyle(formedStations[1].name)"
            >
              {{ formedStations[1].name }}
            </p>
          </div>
          <div
            class="headerBottom"
            [@content]
            *ngIf="headerContent === 'NEXT_STOP_KANA' && formedStations[1]"
          >
            <p class="headerUnit">{{ nextText }}</p>
            <p
              class="headerStationName"
              　[ngStyle]="headerStationNameStyle(s.name)"
            >
              <!-- {{ hiraganaStationNames[formedStations[1].groupId] }} -->
            </p>
          </div>
        </header>
        <main class="bottom">
          <ul
            class="stations"
            *ngIf="formedStations.length && bottomContent === 'LINE'"
          >
            <li class="stationWrapper" *ngFor="let s of formedStations">
              <p class="stationsStationName">
                {{ s.name }}
              </p>
              <div
                [class]="
                  s.groupId !== station.getValue().groupId
                    ? 'lineDot'
                    : 'lineDot lineDotCurrent'
                "
              ></div>
            </li>
          </ul>

          <div class="transfer" *ngIf="bottomContent === 'TRANSFER'">
            <h2 class="transferTitle">のりかえ</h2>
            <div class="transferList">
              <div *ngFor="let line of transferLines" class="transferItem">
                <div
                  class="transferLineDot"
                  [ngStyle]="transferLineDotStyle(line.id)"
                ></div>
                <p class="transferLineName">{{ line.name }}</p>
              </div>
            </div>
          </div>
          <p class="caution">
            スマートフォンでの表示を前提としています。<br />
            地下鉄など、電波の入りづらい場所では正常に動作しない可能性があります。
          </p>
        </main>
      </div>
    </ng-container>
  </ng-container>
</div>

<div class="badAccuracy" (click)="dismissBadAccuracy()" *ngIf="badAccuracy">
  <b>GPSの誤差が1km以上あるため、正常に動作しない可能性があります。</b>
  <p class="dismissNotice">タップで消せます</p>
</div>

<ng-template #loading>
  <div class="loading">
    Loading...
  </div>
</ng-template>

<ng-template #lineNotSelected>
  <h1>路線を選択してください</h1>
  <ng-container *ngFor="let line of station.getValue().lines">
    <button
      class="normalButton"
      (click)="handleLineButtonClick(line.id)"
      [ngStyle]="lineButtonStyle(line.lineColorC)"
    >
      {{ line.name }}
    </button>
  </ng-container>
</ng-template>

<ng-template #boundNotSelected>
  <ng-container *ngIf="fetchedStations | async; else loading">
    <h1>方面を選択してください</h1>
    <ng-container *ngIf="inboundStation && outboundStation; else loading">
      <button
        class="normalButton"
        *ngIf="inboundStation"
        (click)="handleBoundClick('INBOUND', inboundStation)"
      >
        {{
          isLoopLine
            ? '内回り(' + inboundStationForLoopline.name + '方面)'
            : inboundStation.name + '方面'
        }}
      </button>
      <button
        class="normalButton"
        *ngIf="outboundStation"
        (click)="handleBoundClick('OUTBOUND', outboundStation)"
      >
        {{
          isLoopLine
            ? '外回り(' + outboundStationForLoopline.name + '方面)'
            : outboundStation.name + '方面'
        }}
      </button>
    </ng-container>
  </ng-container>
</ng-template>

<div class="orientationWarning">
  <p class="orientationWarningText">スマホを横向きにしてください</p>
</div>
