.orientationWarning {
  display: none;
}

.refreshBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #008ffe;
  position: fixed;
  right: 32px;
  bottom: 32px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  transition: 0.25s;
  .refreshIcon {
    width: 50%;
    height: auto;
  }
  &:active {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  }
}

@media only screen and (orientation: portrait) {
  .container {
    display: none;
  }

  .refreshBtn {
    display: none;
  }


  .orientationWarning {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    font-weight: bold;
    background: #008ffe;
    color: #fff;
    .orientationWarningText {
      text-align: center;
      font-size: 1.25rem;
      filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16));
    }
  }
}

@media only screen and (orientation: landscape) {
  .container {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .orientationWarning {
    display: none;
  }
}

.header {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  overflow: hidden;
  height: 120px;
  .headerBottom {
    display: flex;
    align-items: flex-end;
    height: 72px;
    .headerUnit {
      margin-left: 10%;
      font-weight: bold;
      font-size: 1.75rem;
    }
    .headerStationName {
      flex: 1;
      text-align: center;
      margin-right: 10%;
      font-weight: bold;
    }
  }
  .headerTop {
    padding: 14px 0 0 21px;
    .headerBoundStationName {
      font-weight: bold;
      color: #555;
      font-size: 1.25rem;
    }
  }
}

.bottom {
  .stations {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 18px 0;
    width: 95%;
    border-bottom: 32px solid;
    border-image: var(--line-color-gradient);
    border-image-slice: 30;
    &:after {
      background: var(--line-color-gradient-dot);
      width: 22.25px;
      height: 22.25px;
      position: absolute;
      content: '';
      right: -11.125px;
      bottom: -27.5px;
      z-index: -1;
      transform: rotate(45deg);
    }
    position: relative;
    .stationsStationName {
      -ms-writing-mode: tb-lr;
      writing-mode: vertical-lr;
      text-orientation: upright;
      font-weight: bold;
      height: 40%;
      text-align: right;
      font-size: 5.5vh;
    }

    .lineDot {
      position: absolute;
      width: 32px;
      height: 24px;
      background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
      bottom: -28px;
      .chevron {
        position: absolute;
        height: 24px;
        left: 40px;
      }
      .chevronArrived {
        left: 0;
      }
    }
  }

  .transfer {
    padding-top: 24px;
    .transferTitle {
      text-align: center;
      font-size: 1.5rem;
      font-weight: bold;
      color: #555;
    }

    .transferList {
      width: 75%;
      height: 100%;
      margin: 0 auto;
      padding-top: 24px;
      display: flex;
      flex-wrap: wrap;
      .transferItem {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        flex-basis: 50%;
        .transferLineDot {
          width: 24px;
          height: 24px;
          margin-right: 4px;
        }
        .transferLineName {
          font-weight: bold;
          color: #333;
          font-size: 1.25rem;
        }
      }
    }
  }
}

.normalButton {
  display: block;
  color: #fff;
  background: #333;
  border-radius: 4px;
  font-size: 1rem;
  padding: 8px 12px;
  border: none;
  appearance: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin: 12px;
}

.badAccuracy {
  max-width: 30%;
  background: rgba($color: #ff1744, $alpha: 0.75);
  box-shadow: 0 3px 6px rgba($color: #ff1744, $alpha: 0.16);
  color: #fff;
  position: absolute;
  right: 24px;
  bottom: 24px;
  padding: 24px;
  line-height: 1.25;
  font-weight: bold;
  user-select: none;
  .dismissNotice {
    font-size: 0.9rem;
    font-weight: normal;
    margin-top: 4px;
  }
}

.caution {
  position: absolute;
  left: 12px;
  bottom: 12px;
  color: #aaa;
  font-size: 1vw;
}

.selectLineContent, .selectBoundContent {
  .title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #555;
    margin: 24px 0 12px 0;
  }
  .buttons {
    display: flex;
    padding: 0 5vw;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.credit {
  text-align: center;
  margin: 24px 0;
  font-weight: bold;
}

.credit a {
  color: #008ffe;
}
